extends opmaak

block content
  section.page
    h1 Tarieven
    br
    p
      img.vingertje(src="/images/vingertje.jpg")
      | DE EERSTE LES IS GRATIS
    table.priceTable
      tr
        td Accordeonlessen
        td
          span.price &#8364;
            | 80,-
        td per maand
          br
          br
      tr
        td Andere lesmogelijkheden
        td in overleg
      tr
        td Verhuur accordeon
        td
          span.price &#8364;
            | 25,-
        td per maand
    include pricesImages
